@import "tailwindcss";

/* Aqui entram os tokens, :root, variáveis de tema etc. */
@theme {
  --color-bg: #ffffff;
  --color-fg: #000000;
  /* mais variáveis que quiser customizar */
}

/* Estilos globais mínimos, reset se quiser */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

main {
  padding: 1rem;
}